{% extends 'base.html' %} 

{% block content %}
<!--- START ARTICLE --->

{% for a in articles %}
<!--- START OF A CYCLE FOR ITERATING THROUGH AN ELEMENT IN THE ARTICLES --->
<div class="card" href="{% url 'detail_article' a.pk %}">
  <div class="card-body">
    <div class="wrapper-header">
      <!--- BEGINNING OF THE DISPLAY CONDITION --->
      {% if a.photo %}

      <div class="wrapper-header-body">
        <a href="{% url 'profile' %}">
          <img class="avatar" src="{{ a.author.profile.image.url }}" alt="Фотография профиля" />
        </a>
        <div class="wrapper-header-body-text">
          <div class="wrapper-text">
            <span>Автор:</span>
            <p>{{ a.author }}</p>
          </div>
          <div class="wrapper-text">
            <span>Дата публикации:</span>
            <p>{{ a.publish|date:"d M Y H:i:s" }}</p>
          </div>
          <div class="wrapper-text">
            <span>Дата редактирования:</span>
            <p>{{ a.updated|date:"D M Y H:i:s" }}</p>
          </div>
        </div>
      </div>

      <div class="wrapper-image">
        <a href="{% url 'detail_article' a.pk %}">
          <img class="image-article" src="{{ a.photo.url }}" alt="Фотография статьи" />
        </a>
      </div>

      {% else %}

      <div class="wrapper-header">
        <div class="wrapper-header-body wrapper-header-body-text-not-img">
          <a href="{% url 'profile' %}">
            <img class="avatar" src="{{ a.author.profile.image.url }}" alt="Фотография профиля" />
          </a>
          <div class="wrapper-header-body-text">
            <div class="wrapper-text">
              <span>Автор:</span>
              <p>{{ a.author }}</p>
            </div>
            <div class="wrapper-text">
              <span>Дата публикации:</span>
              <p>{{ a.publish|date:"d M Y H:i:s" }}</p>
            </div>
            <div class="wrapper-text">
              <span>Дата редактирования:</span>
              <p>{{ a.updated|date:"D M Y H:i:s" }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <!--- END OF THE DISPLAY CONDITION --->
    </div>
    <div class="wrapper-body">
      <div class="wrapper-text">
        <div class="text">
          <h2>Заголовок статьи:</h2>
          <p>{{ a.title }}</p>
        </div>
        <div class="text">
          <h2>Текст статьи:</h2>
          {% autoescape on %}
          <p>{{ a.body|linebreaks|truncatewords:20 }}</p>
          <a href="{% url 'detail_article' a.pk %}">Читать пост</a>
          {% endautoescape %}
        </div>
      </div>
    </div>
  </div>
</div>
<!--- END ARTICLE --->

{% endfor %}
<!--- END OF A CYCLE FOR ITERATING THROUGH AN ELEMENT IN THE ARTICLES --->

{% endblock content %}
