html, body, ul, li, a {
    font-family: "Avenir Next", "Apple SD Gothic Neo", "Helvetica Neue";
    text-decoration: none;
    list-style: none;
}
a {
    cursor: pointer;
    color: #3F23B1;
}
.container {padding: 3.85rem 0 0 0;}
.col {
    flex-direction: column;
    margin: 3rem auto;
    padding: 0;
}
.card {
  margin: 1.3rem auto;
  max-width: 40rem;
  border-radius: 0.7rem;
  box-shadow: 0 0 0.54rem 1px lightgray;
  border: none;
}
.card .card-body {border: none;}
/* ---- Wrapper Header ---- */
.card .card-body .wrapper-header .wrapper-header-body {
    z-index: 2;
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background: rgba(255, 255, 255, 0.7);
}
.card .card-body .wrapper-header .wrapper-image {
    margin: auto;
    left: 1rem;
    right: 1rem;
}
.card .card-body .wrapper-header .wrapper-image img {
    width: 100%;
    max-height: 20rem;
    scale: unset;
    box-shadow: none;
}
.card .card-body .wrapper-header .wrapper-header-body .wrapper-text {
    display: flex;
    align-items: center;
    margin: 0.7rem 0;
}
.card .card-body .wrapper-header .wrapper-header-body .wrapper-text span {
    font-weight: bold;
    font-size: 0.7rem;
    margin: 0 1rem;
    color: gray;
}
.card .card-body .wrapper-header .wrapper-header-body .wrapper-text p {
    display: flex;
    align-items: flex-end;
    font-weight: revert;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.7);
}
.card .card-body .wrapper-header .wrapper-header-body .wrapper-text:first-child p {
    font-weight: bolder;
}
.card .card-body .wrapper-header .wrapper-header-body-text-not-img {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    padding: 0;
}
/* ----- Wrapper Body ----  */
.card .card-body .wrapper-body .wrapper-text .text {padding: 0.7rem 0;}
.card .card-body .wrapper-body .left {padding: 1rem 0;}
.card .card-body .wrapper-body .wrapper-text .text:last-child {
    display: flex;
    flex-direction: column;
}
.card .card-body .wrapper-body .wrapper-text .text:last-child a {
    margin: 0 0 0 auto;
}
.card .card-body .wrapper-body .wrapper-text .text h2 {
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
}
.card .card-body .wrapper-body .wrapper-text small, p {
    margin: 0;
    font-size: 1rem;
    color: gray;
}
.card .card-body .text-footer-detail {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
/* ---- Button ---- */
.button {
    color: white !important;
    background: #3F23B1 !important;
    border: 0.1rem solid #3F23B1 !important;
}
.button:hover {
    background: white !important;
    color: #3F23B1 !important;
    border: 0.1rem solid #3F23B1 !important;
    box-shadow: 0 0 0.33rem 1px lightgray !important;
    transition: background-color 0.44s !important;
}
/* --- Image --- */
img:hover {
    scale: 1.2;
    box-shadow: 0 0 0.54rem 1px lightgray;
    transition: all 0.33s ease-out;
    cursor: pointer;
}
/* ---- Avatar ---- */
.avatar {
    vertical-align: middle;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0.3rem;
    transition: all 0.33s ease-out;
}
/* --- Label --- */
label {
    pointer-events: none;
}
/* ---- Input ---- */
.input {
    width: 100%;
    text-align: end;
}
.input input {
    width: 100%;
    max-width: 22rem;
    padding: 0.36rem;
    border-radius: 0.28rem;
    border: 0.15rem solid white;
    box-shadow: 0 0 0.33rem 1px lightgray;
    transition: all 0.33s ease;
}
.input input:focus {
    outline: none;
    border: 0.15rem solid #3F23B1;
    transform: scale(1.04);
}
/* ---- TextArea ---- */
textarea {
    width: 25rem;
    max-width: 30rem;
    height: 20rem;
    max-height: calc(40rem - 40%);
    padding: 0.25rem;
    border-radius: 0.28rem;
    border: 0.15rem solid white;
    box-shadow: 0 0 0.33rem 1px lightgray;
    transition: all 0.33s ease;
}
textarea:focus {
    outline: none;
    border: 0.15rem solid #3F23B1;
    transform: scale(1.04);
}
/* --- ID input choose photo --- */
input > input:is([type="button"],
 [type="submit"], [type="reset"]), input[type="file"]::file-selector-button, .input-title button {
    background: white;
    /*color: white;*/
    cursor: pointer;
    border-radius: 0.28rem;
    border: 0.15rem solid #3F23B1;
    width: 40%;
    padding: 0.25rem;
}
.container-create-update .wrapper-form-body .form-body:last-child input {
    padding: 0;
}
/*#id_photo {
    cursor: pointer;
    position: relative;
    padding: 0;
    width: 25rem;
    max-width: 25rem;
    margin: 1rem auto;
    pointer-events: none;
}*/
/*#id_photo, #id_image:before {
    position: absolute;
    content: "Выберите файл";
    text-align: center;
    width: 10rem;
    top: 0.35rem;
    left: 0;
    right: 0;
    bottom: 0.35rem;
    color: #3F23B1;
    pointer-events: auto;
}*/